body {
    margin: 0;
    color: white;
    font-family: "Oswald", sans-serif;
    background: 
        url("grain_texture.png") repeat,
        linear-gradient(to right,
        #B50B2A,
        #C60C30,
        #B50B2A
    );
    background-size: auto, cover;
    background-attachment: fixed, fixed;
}


html {
    scroll-behavior: smooth;
}

.sidebar {
    position: fixed;
    top: 150px;
    left: 50px;
    width: 240px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.sidebar h2 {
    color:white;
    margin-top: 20px;
    text-decoration: underline;
}

.sidebar a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.sidebar a img {
    width: 30px;
    height: 30px;
}
.sidebar a:hover {
    color: #B0B7BC;
}

.content {
    margin: 0 auto;
    width: 65%;
    padding: 0;
    scrollbar-width: none;
    background: #022b4e;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.15);
    line-height: 1.6;
    box-shadow:
    0 0 10px rgba(0,0,0,0.4),
    0 0 40px rgba(0,0,0,0.3);
}
.content h1 {
    color: white;
    text-align: center;
}
.content h2 {
    color: white;
    text-align: left;
}
.content p {
    color: white;
    margin-left: 20px;
    font-weight: 400;
}
.content ul {
    margin-left: 10px;
}
.content :target {
    scroll-margin: 50px;
}
.content h1,
.content h2,
.content p,
.content ul {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
}

.chart {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 
        0 8px 15px rgba(0, 0, 0, 0.35),   
        0 4px 6px rgba(0, 0, 0, 0.25),    
        0 0 25px rgba(198, 12, 48, 0.25);
}

.text {
    width: 80%;
    font-size: 24px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
}


.banner {
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);
}
.banner img {
    width: 100%;
    height:auto;
    padding: 0;
    display: block;
}

a {
    color: white;
    text-decoration: none;
}